@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
}

body {
  background: url("picture.jpg");
  min-height: 100vh;
  background-size: cover;
}

.content {
  width: 100%;
  margin: auto;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content h2 {
  font-size: 3.8rem;
  font-weight: 900;
  margin: 10px;
}

@media (max-width: 767px) {
  h2 {
    font-size: 2.2rem !important;
  }
}
